@import "_Color.scss";

.hero_main {
    position: relative;

}

.hero_section {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

.hero_text_wrapper {
    position: absolute;
    padding: 22px 55px;
    backdrop-filter: blur(10px);
    max-width: 50%;
    width: fit-content;
    border-radius: 33px;
    top: 200px;
    left: 0;
    z-index: 1;
}

.hero_cta_wrapper {
    display: flex;
    gap: 10px;
    transition: all .2s;

    .hero_cta {
        display: flex;
        align-items: center;
        color: $colorBlack;
        background-color: $colorOffGreen;
        padding: 16px 30px;
        border-radius: 30px;
        border: 2px solid transparent;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        transition: all .2s;
        gap: 10px;
        svg {
            font-size: 25px;
        }
        &:hover {
            color: $colorWhite;
            background-color: transparent;
            border: 2px solid linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 2s ease infinite;
            transition: all .2s;
            svg {
                animation: arrow 2s ease infinite;
            }
        }
    
    
    }
    
    .hero_cta_sec {
        border: 2px solid $colorOffGreen;
        background-color: transparent;
        color: $colorWhite;
        transition: all .2s;
        &:hover {
            color: $colorWhite;
            border: 2px solid transparent;
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 2s ease infinite;
            transition: all .2s;
        }
    }   
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes arrow {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}


.card {
    width: 580px;
    aspect-ratio: 2 / 3;
    border: 0.25rem solid rgb(255 255 255 / 15%);
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
  }
  
  .card > img {  
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  
  .card:hover > img {
    animation: pulse 800ms ease-in-out;
    filter: url(#noise);
  }
  
  @media(max-width: 768px) {
    .card {
      width: 100%;
    }
  }